* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.App {
   display: flex;
   flex-direction: row-reverse;
   background-color: #f1f1f1;
   max-width: 3800px;
   
}

.call-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



