* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  background-color: #f1f1f1; 
}
.App {
   display: flex;
   flex-direction: row-reverse;
   max-width: 100vw;
   max-height: 100vw;
   margin: auto 15px;
   
}

.utl-abso-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

@media  (max-width: 1220px){
  .App{
    display: flex;
    flex-direction: column;
  }

    .stream-view-container {
      padding: 25px;
    }
}

 



