.nav {
  display: flex;
  flex-direction: row;
}

.nav-container {
  display: flex;
  flex-direction: row;
  background-color: #6441a4;
  color: white;
  justify-content: flex-end;
  margin-bottom: 5px;
  padding: 5px;
}

i {
  padding: 2px;
}

.nav-item-container {
  margin: auto 10px;
  height: 100%;
  width: 90px;
  text-align: center;
}

.empty {
  padding: 1px;
}

p {
  text-align: center;
}

img,
i {
  max-width: 80px;
  max-height: 80px;
}

.nav-item-container a {
  color: white;
  text-decoration: none;
}

/* @media (max-width: 1220px){
 .nav-container{
     display: block;
 }
} */
